# Terraform
Terraform/envs/prod/terraform.tfvars
**/.terraform/*
*.tfstate
*.tfstate.*

# Go
hidewall
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.local
