<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Hidewalls</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

<link rel="stylesheet" href="static/css/style.css">
<meta name="robots" content="noindex, follow">
<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('service-worker.js', { scope: '/' })
      .then(registration => {
        console.log('Service Worker registered with scope:', registration.scope);
      })
      .catch(error => {
        console.log('Service Worker registration failed:', error);
      });
  }
    // Function to create and show the popup
    function showPopup() {
      // Check if the user is using an iOS device
      const isIOS = /iPad|iPhone|iPod/.test(navigator.userAgent);

      if (isIOS) {
        // Create a popup with a link
        const popupContent = `
          <div style="text-align: center;">
            <p>Click below to add the shortcut:</p>
            <a href="https://www.icloud.com/shortcuts/3d97b3293a944f8fa83ba987a8bd5a92" target="_blank">
              Add Shortcut
            </a>
          </div>
        `;

        // Create a new popup window
        const popup = window.open('', '_blank', 'width=300,height=200');
        if (popup) {
          // Write the popup content into the new window
          popup.document.write(popupContent);
          popup.document.close();
        } else {
          // Inform the user if the popup was blocked
          alert('Please allow popups for this site to see the link.');
        }
      } else {
        // Display a message for non-iOS users
        alert('This feature is available for iOS users only.');
      }
    }

    // Add a click event listener to the button
    const showPopupButton = document.getElementById('showPopup');
    if (showPopupButton) {
      showPopupButton.addEventListener('click', showPopup);
    }
  </script>
</head>
<body>
  <div class="wrapper">
    <div class="inner">
      <form method="GET" action="/yeet">
      <h3>Be Gone Paywalls!</h3>
      <p>Paste the URL to the site you wish to visit in the box, and then click Remove Paywalls.</p>
      <label class="form-group">
        <input type="text" name="y" class="form-control" required>
        <span>http://news.site/blocked</span>
        <span class="border"></span>
      </label>
      <button>Remove Paywalls</button>
     </form>
    </div>
  </div>
      {% if results %}
    <ul>
        {% for result in results %}
        <li><a href="{{ result['link'] }}">{{ result['title'] }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
     <footer>
    <p><a href="/privacy">Privacy Policy</a></p>
 </footer>
 </body>
</html>
